/* General styles */
body {
    background: #333333; /* Dark gray background */
    color: #ffffff; /* White text */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #b30000; /* Dark red */
}

.logo img {
    height: 60px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff; /* White text */
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #b30000; /* Dark red */
}

#clusters-container {
    margin-bottom: 20px;
}

form {
    background: #3b3b3b; /* Darker gray for form background */
    padding: 20px;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

form button {
    background: #b30000; /* Dark red */
    color: #ffffff; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #800000; /* Darker red */
}
